body {
    background: #ffffff;
}

.result {
    background: #cccccc;
}

/* styles for lesson#07 */
.div07_10,
.div07_15,
.div07_16,
.div07_17,
.div07_18,
.div07_19 {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 3px solid #dd890a;
}

/* styles for lesson#09 */
.active {
    border: #dd890a 3px solid;
}

.css-1 {
    background: #00ff37;
}

.css-2 {
    background: #fffb00;
}

.css-3 {
    background: #0d2fc7;
}

.css-4 {
    background: #c70db7;
}

.span-13 {
    background: #c7670d;
}

.span-14 {
    background: #0dc7be;
}