body {
    background: #ffffff;
}

/* styles for lesson#07 */
.div07_10,
.div07_15,
.div07_16,
.div07_17,
.div07_18,
.div07_19 {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 3px solid #dd890a;
}

/* styles for lesson#09 */
.css-1 {
    background: #00ff37;
}