*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #ffffff;
}

.main {
    padding: 5px;
}

p {
    padding: 5px;
}

button {
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    background: #fffb00;
}

.hide {
    visibility: hidden;
}

.result {
    background: #cccccc;
    border: #000000 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

/* styles for lesson#07 */
.div07_10,
.div07_15,
.div07_16,
.div07_17,
.div07_18,
.div07_19 {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 3px solid #dd890a;
}

/* styles for lesson#09 */
.active {
    border: #dd890a 3px solid;
}

.css-1 {
    background: #00ff37;
}

.css-2 {
    background: #fffb00;
}

.css-3 {
    background: #0d2fc7;
}

.css-4 {
    background: #c70db7;
}

.css-5 {
    background: #2cc70d;
}

.span-13 {
    background: #c7670d;
}

.span-14 {
    background: #0dc7be;
}